@model JATAirlineWebApp.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="glass-container">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.passengerFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.passengerFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.passengerLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.passengerLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seatingpreference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seatingpreference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seatingnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seatingnumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
